body.minhaConta {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	* {
		font-family: $font-family;
	}

	h1 {
		border-bottom: 1px solid hsla(0, 0%, 90%, 1);
		color: #142032;
		font-size: 30px;
		margin-bottom: 28px;
		padding: 24px 14px 16px;
		text-align: center;
	}
}
